* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
}

.nav_bar {
	width: 100%;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}

.logo {
	text-transform: capitalize;
	font-weight: bolder;
	cursor: pointer;
	color: #1ee2f2;
	text-shadow: 2px 2px #00c4c4;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.menu a {
	color: black;
	text-transform: capitalize;
	font-weight: bold;
	margin: auto 20px;
}

.menu a:hover {
	color: #00c4c4;
	font-weight: bolder;
	transition: 0.5s;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25%;
}

.btn {
	width: 150px;
	height: 35px;
	text-align: center;
	background-color: #1ee2f2;
	border: 2px solid #0cc5d3;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 0;
	color: black;
	box-sizing: border-box;
	background-color: #1ee2f2;
}

.btn:hover {
	background-color: #48e8f4;
	color: white;
}

.container {
	width: 100%;
	height: 100vh;
	margin-top: -50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.left-section {
	text-align: center;
	border-radius: 26% 74% 57% 43%/41% 82% 18% 59%;
	background-color: #f2ffff;
}

.left-section span {
	font-size: 70px;
	color: #1ee2f2;
	text-shadow: 2px 2px #c0c0c0;
}

p {
	line-height: 20px;
	font-weight: lighter;
	font-size: 13px;
}

.right-section img {
	margin-right: 50px;
}
/* .container h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
} */
form {
	border: 2px solid black;
	border-radius: 11px;
	height: 350px;
	width: 343px;
	margin-left: 130px;
	padding-top: 20px;
	font-size: 15px;
}

input {
	width: 80%;
	height: 37px;
	border-radius: 8px;
	margin: 9px 0;
	padding: 0 11px;
	font-size: 15px;
}

form h1 {
	margin-bottom: 5px;
}

.btn-form {
	height: 35px;
	width: auto; text-align : center;
	background-color: #1ee2f2;
	border: 2px solid #0cc5d3;
	border-radius: 10px;
	font-weight: bold;
	font-size: 15px;
	padding: 8px auto;
	margin: 5px 5px;
	color: black;
	box-sizing: border-box;
	background-color: #1ee2f2;
	text-align: center;
}

.btn-form:hover {
	background-color: #48e8f4;
	color: white;
}
.txt-danger{
	color: red;
}
.txt-green{
	color: green;
}
.card{
	width: 250px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid #0cc5d3;
	background-color: white;
	box-shadow: 2px 2px 3px black;
	
}
.btn-crd-green{
		width: 50px;
		height: auto;
		padding: 5px;
		margin: 10px 10px;
		border: 2px solid green;
		background-color: green;
		color: white;
		border-radius: 3px;
	}
	.btn-crd-red{
		width: 70px;
		height: auto;
		padding: 5px;
		margin: 10px 10px;
		border: 2px solid red;
		background-color: red;
		color: white;
		border-radius: 3px;
	}
	.btns{
		margin-top: 50px;
	}
.footer {
	height: 35px;
	text-align: center;
	font-size: 10px;
	font-weight: lighter;
	color: black;
	background-color: #c9f4f4;
	box-sizing: border-box;
	padding: 8px 0;
}